<div>
    <h2>Pipe usage examples</h2>
    <p>{{title|lowercase}}</p>
    <p> {{title|uppercase}} </p>
    <p> {{title|titlecase}} </p>
    <p> {{title|slice:1|titlecase}} </p>
    <p> {{title|slice:20:24}} </p>
    <p> {{123.4567}} is the actual number </p>
    <p> {{123.4567|number:'1.2-3'}} is with two to three the most significant digits </p>
    <p> {{123.4567|number:'6.2-3'}} is with 6 degit before decimal and 2-3 behind </p>
    <p> 0.45 becomes {{0.45|number|percent}} </p>
    <p> {{123.4567|currency}} </p>
    <p> {{123.4567|currency:'INR'}} and {{123.4567|currency:'EUR'}} </p>
    <p> {{123.4567|currency:"INR":'code'}} </p>
    <p> {{date}} </p>
    <p> {{date| date}} only date</p>
    <p> {{date| date:'short'}} in short</p>
    <p> {{date| date:'medium'}} in medium </p>
    <p> {{date| date:'shortTime'}} shortTime... </p>






</div>