<div class="container ">
    <h1 class="text-center">Please Select User Type</h1>
    <div class="d-flex justify-content-around mt-5 ">
        
        <a routerLink="/welcome/users/student" routerLinkActive="active">
            <img src=".\assets\college.jpg" alt="Picture 1" width="200" height="200">
            <p class="text-center"><strong>Student</strong></p>   
        </a>
    
    
        <a routerLink="/welcome/users/college" routerLinkActive="active">
            <img src=".\assets\company.jpg" alt="Picture 2" width="200" height="200">
            <p class="text-center"><strong>College</strong></p>    
        </a>
    
    
        <a routerLink="/welcome/users/company" routerLinkActive="active">
            <img src=".\assets\student.jpg" alt="Picture 3" width="200" height="200">
            <p class="text-center"><strong>Company</strong></p>
        </a>
        
        
    </div>
    <router-outlet></router-outlet>