<div class="text-center">
  <h1>Angular Forms</h1>
</div>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-sm-4">
      <h3><a routerLink="/human" routerLinkActive="active">Human</a></h3>
      <p>If you are a human</p>
    </div>
    <div class="col-sm-4">
      <h3><a routerLink="/">None</a></h3>
      <p>If you cant decide</p>
    </div>
    <div class="col-sm-4">
      <h3><a routerLink="/super" routerLinkActive="active">SuperHuman</a></h3>
      <p>If you are a Super Human</p>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
